App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# CLI xcodebuild output (-derivedDataPath build / build-device)
/build
/build-device

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
